.statsfc_topscorers table {					display: table; width: 100%; border-collapse: collapse; border: 1px solid silver; margin-bottom: 0; }
.statsfc_topscorers th,
.statsfc_topscorers td {					text-align: left; padding: 2px 5px; border-bottom: 1px solid silver; vertical-align: middle; }
.statsfc_topscorers .statsfc_numeric {		text-align: right; }
.statsfc_topscorers .statsfc_highlight td {	font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black; }
.statsfc_topscorers .statsfc_footer {		display: block !important; text-align: right; margin-top: 0; padding: 2px 5px; }

.statsfc_topscorers .statsfc_team {						background-repeat: no-repeat; background-position: center left; background-size: 20px 20px; line-height: 25px; padding-left: 25px !important; }
.statsfc_topscorers .statsfc_badge_arsenal {			background-image: url(//api.statsfc.com/kit/arsenal.png); }
.statsfc_topscorers .statsfc_badge_astonvilla {			background-image: url(//api.statsfc.com/kit/aston-villa.png); }
.statsfc_topscorers .statsfc_badge_cardiffcity {		background-image: url(//api.statsfc.com/kit/cardiff-city.png); }
.statsfc_topscorers .statsfc_badge_chelsea {			background-image: url(//api.statsfc.com/kit/chelsea.png); }
.statsfc_topscorers .statsfc_badge_crystalpalace {		background-image: url(//api.statsfc.com/kit/crystal-palace.png); }
.statsfc_topscorers .statsfc_badge_everton {			background-image: url(//api.statsfc.com/kit/everton.png); }
.statsfc_topscorers .statsfc_badge_fulham {				background-image: url(//api.statsfc.com/kit/fulham.png); }
.statsfc_topscorers .statsfc_badge_hullcity {			background-image: url(//api.statsfc.com/kit/hull-city.png); }
.statsfc_topscorers .statsfc_badge_liverpool {			background-image: url(//api.statsfc.com/kit/liverpool.png); }
.statsfc_topscorers .statsfc_badge_manchestercity {		background-image: url(//api.statsfc.com/kit/manchester-city.png); }
.statsfc_topscorers .statsfc_badge_manchesterunited {	background-image: url(//api.statsfc.com/kit/manchester-united.png); }
.statsfc_topscorers .statsfc_badge_newcastleunited {	background-image: url(//api.statsfc.com/kit/newcastle-united.png); }
.statsfc_topscorers .statsfc_badge_norwichcity {		background-image: url(//api.statsfc.com/kit/norwich-city.png); }
.statsfc_topscorers .statsfc_badge_southampton {		background-image: url(//api.statsfc.com/kit/southampton.png); }
.statsfc_topscorers .statsfc_badge_stokecity {			background-image: url(//api.statsfc.com/kit/stoke-city.png); }
.statsfc_topscorers .statsfc_badge_sunderland {			background-image: url(//api.statsfc.com/kit/sunderland.png); }
.statsfc_topscorers .statsfc_badge_swanseacity {		background-image: url(//api.statsfc.com/kit/swansea-city.png); }
.statsfc_topscorers .statsfc_badge_tottenhamhotspur {	background-image: url(//api.statsfc.com/kit/tottenham-hotspur.png); }
.statsfc_topscorers .statsfc_badge_westbromwichalbion {	background-image: url(//api.statsfc.com/kit/west-bromwich-albion.png); }
.statsfc_topscorers .statsfc_badge_westhamunited {		background-image: url(//api.statsfc.com/kit/west-ham-united.png); }