.statsfc_topscorers table {					display: table; width: 100%; border-collapse: collapse; border: 1px solid silver; }
.statsfc_topscorers th,
.statsfc_topscorers td {					text-align: left; padding: 2px 5px; border-bottom: 1px solid silver; }
.statsfc_topscorers thead th {				text-transform: uppercase; font-size: small; background-color: silver; }
.statsfc_topscorers .statsfc_team {			background-repeat: no-repeat; background-position: center left; background-size: 20px 20px; line-height: 25px; padding-left: 25px !important; }
.statsfc_topscorers .statsfc_numeric {		text-align: right; }
.statsfc_topscorers .statsfc_highlight td {	font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black; }
.statsfc_topscorers .statsfc_footer {		display: block !important; text-align: right; margin-top: 0; padding: 2px 5px; }